@use 'styles/breakpoints' as bp;
@use '../cabinet' as c;

.body {
  @include c.stack;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-3);

  .field:first-child {
    grid-column: 1 / -1;
  }

  @include bp.up(sm) {
    grid-template-columns: 1.4fr 1fr 1fr;

    .field:first-child {
      grid-column: auto;
    }
  }
}
